[submodule "code/aesctr"]
	path = aesctr
	url = https://github.com/dnbaker/aesctr
[submodule "code/lemon"]
	path = lemon
	url = https://github.com/seqan/lemon
[submodule "code/robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing/
[submodule "code/alias_sampler"]
	path = alias_sampler
	url = https://github.com/dnbaker/alias_sampler
[submodule "code/blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "code/protozero"]
	path = protozero
	url = https://github.com/mapbox/protozero
[submodule "code/libosmium"]
	path = libosmium
	url = https://github.com/osmcode/libosmium
[submodule "code/pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "code/pdqsort"]
	path = pdqsort
	url = https://github.com/orlp/pdqsort
[submodule "code/mio"]
	path = mio
	url = https://github.com/mandreyel/mio
[submodule "code/sleef"]
	path = sleef
	url = https://github.com/shibatch/sleef
[submodule "code/distmat"]
	path = distmat
	url = https://github.com/dnbaker/distmat
[submodule "code/xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "code/cpp-taskflow"]
	path = cpp-taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow
[submodule "code/fastiota"]
	path = fastiota
	url = https://github.com/dnbaker/fastiota
[submodule "discreture"]
	path = discreture
	url = https://github.com/mraggi/discreture/
