[submodule "code/aesctr"]
	path = code/aesctr
	url = https://github.com/dnbaker/aesctr
[submodule "code/lemon"]
	path = code/lemon
	url = https://github.com/seqan/lemon
[submodule "code/robin-hood-hashing"]
	path = code/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing/
[submodule "code/alias_sampler"]
	path = code/alias_sampler
	url = https://github.com/dnbaker/alias_sampler
[submodule "code/blaze"]
	path = code/blaze
	url = https://github.com/dnbaker/blaze-lib
[submodule "code/protozero"]
	path = code/protozero
	url = https://github.com/mapbox/protozero
[submodule "code/libosmium"]
	path = code/libosmium
	url = https://github.com/osmcode/libosmium
[submodule "code/pybind11"]
	path = code/pybind11
	url = https://github.com/pybind/pybind11
[submodule "code/pdqsort"]
	path = code/pdqsort
	url = https://github.com/orlp/pdqsort
[submodule "code/mio"]
	path = code/mio
	url = https://github.com/mandreyel/mio
[submodule "code/sleef"]
	path = code/sleef
	url = https://github.com/shibatch/sleef
[submodule "code/distmat"]
	path = code/distmat
	url = https://github.com/dnbaker/distmat
[submodule "code/xxHash"]
	path = code/xxHash
	url = https://github.com/Cyan4973/xxHash
